# frozen_string_literal: true

<% namespaces = class_name.split("::")[0...-1] -%>
<% namespaces.each_with_index do |namespace, index| -%>
<%= "  " * index %>module <%= namespace %>
<% end -%>
<%= "  " * namespaces.size %>module <%= class_name.demodulize %>Steps
<%= "  " * namespaces.size %>  extend GherkinSystem::Steps

<%= "  " * namespaces.size %>  # Given("…") do
<%= "  " * namespaces.size %>  # end
<%= "  " * namespaces.size %>end
<% namespaces.size.times.reverse_each do |index| -%>
<%= "  " * index %>end
<% end -%>
